<!doctype html>
<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Tenderness calculator</title>
  </head>


   <body>
     <h1>
       Home
     </h1>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Sample to predict:</strong><br>
    <input id="file-picker" type="file" accept=".spc" name="predict" >
    <div id="msg"></div>
    <input type="submit" value="Predict!" id="upload-button">
</form>

<form id="upload-form" action="{{ url_for('construct') }}" method="POST" enctype="multipart/form-data">
    <strong>Construct the database and train model:</strong><br>
    <input id="file-picker" type="file" accept=".spc" name="spectrumset" multiple>
    <div id="msg"></div>
    <input id="file-picker" type="file" accept=".xlsx" name="target">
    <div id="msg"></div>
    <input type="submit" value="Construct and train!" id="upload-button">
</form>
</br>
<form action="{{ url_for('showdb') }}" method="POST" >
    <strong>database stats:</strong><br>
    <input type="submit" value="Show database">
</form>
</br>
<form action="{{ url_for('admin') }}" method="POST" >
    <strong>Admin:</strong><br>
    <input type="submit" value="Enter admin mode">
</form>

<p> model trained: {{ model_trained }} </p>
<p> rmsecv score: {{ rmsecv }} </p>
<p> dataset size used for model training: {{ datasetsize }} entries </p>

   </body>
</html>
